.popup__button {
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  min-height: 50px;
  border: 0;
  margin: 0;
  padding-bottom: 5px;
  cursor: pointer;
  transition: opacity 0.4s;
  color: white;
  font-family: inherit;
  background-color: black;
  border-radius: 2px;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 620px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
  }
}
