.elements-container {
  list-style-type: none;
  gap: 20px 17px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  margin: 0 auto;
  max-width: 880px;
  padding: 50px 0 0;
}
