.popup__item {
    border: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .2);;
    background-color: transparent;
    margin: 0 0 40px;
    padding: 2px 0 13px;
    font-size: 14px;
    font-family: inherit;
}

.popup__item::placeholder {
    font-size: 14px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: normal;
    line-height: 20px;
    color: #bcbcc4;
}

.popup__item::-webkit-input-placeholder{
    font-size: 14px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: normal;
    line-height: 20px;
    color: #bcbcc4;
}


.popup__item::-moz-placeholder{
    font-size: 14px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: normal;
    line-height: 20px;
    color: #bcbcc4;
}


.popup__item::-ms-input-placeholder{
    font-size: 14px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: normal;
    line-height: 20px;
    color: #bcbcc4;
}